:root {
    --primary-color: #9615DB;
    --secondary-color: #faf5fb;
    --gray: rgb(125, 125, 125);
    --link-blue: rgb(103, 131, 254);
}

html, body {
    height: 100%;
}

.bg-primary {
    background-color: var(--primary-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-gray {
    color: var(--gray);
}

.text-link-blue {
    color: var(--link-blue);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

/* Test Size */

.text-xxs {
    font-size: 0.7rem;
}

.text-xxxs {
    font-size: 0.6rem;
}

/* Buttons */

.button-open {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 5px;
    text-align: center;

    /* Font Size */
    font-size: 12px;
}

.button-fill {
    background-color: var(--primary-color);
    color: #FFF;
    border-radius: 5px;
    text-align: center;

    /* Font Size */
    font-size: 12px;
}

.button-open:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.button-fill:hover {
    background-color: #9b41cc;
    cursor: pointer;
}