.form_item {
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 0.25rem;
    padding: 8px;
    width: 350px;
    background-color: #FFF;
}

.form_item:focus {
    border-color: #9615DB;
    outline: none;
}

.form_button {
    border-radius: 0.25rem;
    padding: 13px;
    width: 350px;
}